/.DS_Store
/1.png
/20231113134847_54887.jpg
/G Memory Palace.png
/Green Yellow Aesthetic Cute Notebook Group Project Presentation.pdf
/Icon
/bee1e5260e9537f2375ec8e771e545be.gif
/dronefflyfly.py
/index.html
/proj2img.png
/proj3img.png
/project_1.html
/project_2.html
/project_3.html
/script.js
/styles.css
/t3_droneflying.py
/web.py