#page-title {
    color: rgb(123, 212, 211);
    font-size: 60px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
.highlight {
    background-color: rgba(255, 192, 203, 0.472);
    font-weight: normal;
  }
body {
    color: #91ccf3;
    font-family: "Lucida Handwriting", cursive;
    background-color: #EBF5FB;
  }
#image1 {
  border: 3px solid white;
  border-radius: 10px;
  width:300px;
  height:300px
}
#image2 {
  border: 3px solid white;
  border-radius: 10px;
  width:250px;
  height:300px;

}
#proj2img {
  width:300px;
  height:177px
}
#proj3img {
  width:300px;
  height: 177px
}
a:hover {
  color: purple;
  text-decoration: underline;
}
img:hover {
  opacity: 0.7;
}
h2 {
  color: #cbc5ff;
  font-family: "Lucida Handwriting", cursive;
  background-color: #EBF5FB;
}
p {
  color: #3b3b3ba7;
  font-family:  "sans-serif";
  background-color: #EBF5FB;
}
ul {
  color: #3b3b3ba7;
  font-family: "Lucida Handwriting", cursive;
  background-color: #EBF5FB;
}
h1 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-size: larger;
}    



